.insert{
    box-shadow: 0px 0px 20px -9px var(--grey);
    border: 1px var(--grey) solid;
}
body.active .insert{
    background-color: transparent !important;
}
.insert input[type="submit"]{
    background-color: var(--main-color);
}
.insert .main-border{
    position: relative;
    width: fit-content;
}
.insert .main-border::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 100%;
    bottom: -4px;
    left: 0;
}
.insert input::placeholder,
.insert select,.insert input[type="file"],
.insert textarea::placeholder{
    font-size: 0.8rem;
}
.insert input:focus,.insert select:focus{
    box-shadow: none;
}